namespace VaskEnTidWeb.wwwroot.css
{
    public class Booking
    {
    }
}

.card {
    margin-bottom: 5%;
    border-color: gray;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 2%;
    background-color: lightgray;
}