@page
@model VaskEnTidWeb.Pages.BookingModel
@{
    ViewData["Title"] = "Booking n shit";
}
<h1>@ViewData["Title"]</h1>

			@foreach (VaskEnTidLib.Model.Booking booking in Model.Bookings)
			{
				<h1>
					@booking.BookingID
				</h1>

				<p>
					@booking.
				</p>
			}