@page
@model ProfileModel
@{
	ViewData["Title"] = "Profile";
}
<div class="text-lg-start">
	<h1> Velkommen @Model.UserMe.FirstName </h1>
</div>
<div>
	<h3>Dine bookninger</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Date and Time</th>
				<th>Machine</th>
				<th>Remove booking?</th>
			</tr>
		</thead>
			<tbody>
				<tr>
					<td>@Model.Bookings.DateAndTime</td>
					<td>@Model.Bookings.MachineIDs</td>
					<td>remove button</td>
				</tr>
			</tbody>
	</table>
</div>

